body {
  background-image: url("https://wallpapercave.com/wp/wp3187310.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 110% -100%;
  margin: 0;
}

.left-column-logo {
  display: flex;
  align-items: center;
}

.title {
  text-decoration: none;
  font-size: 43px;
  color: white;
  font-family: "Passion one", Arial, Helvetica, sans-serif;
}

.logo-left {
  width: 50px;
}

.logo-right {
  width: 100px;
}

.logo-left,
.logo-right {
  margin: 10px 25px 10px 15px;
  border: none;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  top: 0;
  height: 80px;
  width: 100%;
  margin-bottom: 110px;
  position: fixed;
  z-index: 1;
}

.champholder {
  margin-top: 90px;
  margin-left: 50px;
  margin-right: 10px;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  height: 800px;
}

.champholder > img {
  margin: 2px 3px 4px 4px;
  border: 1px solid white;
  width: 205px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: rgb(174, 110, 0);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.place-holder {
  border: none;
  width: 28%;
}

.placeholders {
  width: 100%;
  margin-top: 85px;
  margin-left: 100px;
  top: 0;
  bottom: 0;
}

.row {
  margin-top: 10px;
  display: flex;
  width: 100%;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.clear-all,
.save-button {
  margin-bottom: 10px;
  height: 48px;
  padding: 10px;
  background: rgb(43, 43, 43);
  border: solid 1px orange;
  color: orange;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}

.clear-all {
  width: 220px;
  margin-right: 50px;
}

.clear-all:hover {
  background: rgb(195, 195, 195);
  border: solid 1px orange;
  color: rgb(0, 0, 0);
}

.save-button {
  width: 200px;
  margin-right: 160px;
}

.save-button:hover {
  background: rgb(168, 168, 168);
  border: solid 1px orange;
  color: rgb(0, 0, 0);
}

form.example input[type="text"] {
  padding: 8px;
  font-size: 17px;
  border: 1px solid rgb(183, 119, 0);
  width: 18%;
  background: #2c2c2c;
  position: fixed;
  float: right;
  margin-left: 300px;
  margin-top: 13px;
  color: white;
  z-index: 2;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
