.container {
  width: 1900px;
  background-color: rgb(190, 190, 190);
}

body {
  background-image: url("https://64.media.tumblr.com/b6df9208fa41900159ef28816f4fcb99/tumblr_pufxuemKyM1ufm3tmo1_1280.jpg");
  background-size: cover;
  background-repeat: repeat;
  background-position: 0% -55%;
  margin: 0;
  background-attachment: fixed;
}

.row {
  display: flex;
}

.left-column-logo {
  display: flex;
  align-items: center;
}

.title {
  text-decoration: none;
  font-size: 43px;
  color: white;
  font-family: "Passion one", Arial, Helvetica, sans-serif;
  white-space: nowrap;
}

.logo-left {
  width: 50px;
}

.logo-right {
  width: 100px;
}

.logo-left,
.logo-right {
  margin: 10px 25px 10px 15px;
}

.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  top: 0;
  height: 80px;
  width: 100%;
  margin-bottom: 110px;
}

.buttons {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
}

.build-now,
.my-team {
  margin-top: 20px;
  height: 25px;
  padding: 10px;
  background: rgb(43, 43, 43);
  border: solid 1px orange;
  color: orange;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: Avenir, Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.build-now {
  width: 320px;
}

.build-now:hover {
  background: rgb(195, 195, 195);
  border: solid 1px orange;
  color: rgb(0, 0, 0);
}

.my-team {
  width: 200px;
}

.my-team:hover {
  background: rgb(168, 168, 168);
  border: solid 1px orange;
  color: rgb(0, 0, 0);
}
